*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/caches
/codeStyles
google-services.json
package.json
package-lock.json
/functions/node_modules